#root {
  max-width: 1280%;
  margin: 0 auto;
  text-align: center;
}

.navbar-box{
  width: 1450px;
  height: 100%;
}

.link{
  /* color: black; */
}

.css-hyum1k-MuiToolbar-root {
  background-color: #1e1d1d;;
}

#logo-button{
  margin-right: 2%;
  width: 20%;
  /* color: blueviolet; */
}

.homePage-div_wrap{
  border: solid 2px fuchsia;
  margin-top: 15%;
}

#signUp-button {
  color: #646cff;
}
/* .homePage-div_button-container{
  
} */